---
import MainLayout from '../layouts/main.astro';
import AdminPanel from '../components/admin/AdminPanel';
---

<MainLayout pageClass="admin">
  <AdminPanel client:only="react">
    <div></div>
  </AdminPanel>
</MainLayout>


